#offers-section {
    background: rgb(193,226,251);
    background: linear-gradient(0deg, rgb(192, 228, 255) 27%, rgba(228,249,255,1) 64%);
    position: relative;
}

.landing-page-offers__content-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
    animation: fade ease-in-out both;
    animation-timeline: view();
    animation-range: entry 10% cover 30%;
}

.landing-page-offers__card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease;
    padding: 1rem 1rem;

}

.landing-page-offers__card:hover {
    transform:translateY(-10px);
    box-shadow: 0 0 10px 0 rgb(0, 110, 255);
}

.landing-page-offers__card-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-page-offers__icon-wrapper {
    height: 50px;
    width: 50px;
    background: var(--blue-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.landing-page-offers__icon {
    font-size: 1.3rem;
    color: white;
    transition: all 0.5s ease;
}

.landing-page-offers__card-body {
    text-align: center;
    margin-top: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.landing-page-offers__card-title {
    font-size: 1rem;
    font-weight: 600;
}

.landing-page-offers__card-description {
    font-size: 0.9rem;
    margin-top: 10px;
}

.landing-page-offers__button-wrapper {
    margin-top: 20px;
}

.custom-shape-divider-bottom-1721279624 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1721279624 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 21px;
}

.custom-shape-divider-bottom-1721279624 .shape-fill {
    fill: #FFFFFF;
}

/* MEDIA QUERIES */
@media screen and (max-width: 599px) {
    .landing-page-offers__content-wrapper {
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }

    .landing-page-offers__card-title {
        font-size: 0.9rem;
        font-weight: 600;
    }
    
    .landing-page-offers__card-description {
        font-size: 0.85rem;
        margin-top: 10px;
    }
}