.landing-page-featured-products {
    padding: 5rem 2rem;
    border-bottom: 1px solid rgb(220, 233, 252);
}

.landing-page-featured-products__wrapper {
    max-width: 1000px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.landing-page-featured-products__title {
    font-size: 1.8rem;
    font-weight: 600;
}

.landing-page-featured-products__subtitle {
    font-size: 0.9rem;
    font-weight: 400;
}

.landing-page-featured-products__content-wrapper {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.landing-page-featured-products__footer {
    margin-top: 50px;
}

.landing-page-featured-products__button-wrapper {
    grid-column: 1/5;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MEDIA QUERIES */

@media screen and (min-width: 769px) and (max-width: 999px) {
    .landing-page-featured-products__title {
        font-size: 1.7rem;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .landing-page-featured-products__title {
        font-size: 1.6rem;
    }
    
    .landing-page-featured-products__subtitle {
        font-size: 0.8rem;
    }

    .landing-page-featured-products__content-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

}


@media screen and (max-width: 599px) {
    .landing-page-featured-products__title {
        font-size: 1.5rem;
    }
    
    .landing-page-featured-products__subtitle {
        font-size: 0.8rem;
    }

    .landing-page-featured-products__content-wrapper {
        grid-template-columns: 1fr;
    }

    .landing-page-featured-products__see-more {
        font-size: 0.9rem;
    }

}