.add-products {
    height: 100%;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* HEADER AND CONTROLS STYLE*/
.add-products__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-products__left-controls-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.add-products__input-field {
    font-size: 0.95rem;
    font-weight: 500;
    padding: 0.3em 0.5em;
    width: 280px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    transition: all 0.2s ease;
}

.add-products__input-field:focus {
    box-shadow: 0 0 0 3px rgb(152, 200, 255);
}


.add-products__filter-wrapper {
    position: relative;
}

.add-products__filter-icon {
    display: block;
    padding: 0.4rem 0.5rem;
    font-size: 1.2rem;
    color: white;
    background: var(--blue-color);
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add-products__filter-icon:hover {
    color: black;
    border: 1px solid var(--blue-color);
    background: none;
}


/* FILTER DROPDOWN */
.add-products__filter-dropdown {
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 100;
    background: white;
    padding: 1rem 1rem;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.add-products__filter-dropdown-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add-products__filter-label {
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: 600;
}

.add-products__filter-field {
    font-size: 0.95rem;
    font-weight: 500;
    padding: 0.3em 0.5em;
    width: 200px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.2s ease;
}

.add-products__filter-field:focus {
    box-shadow: 0 0 0 3px rgb(152, 200, 255);
}

.add-products__filter-dropdown-footer {
    margin-top: 20px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(0, 0, 0, 0.192);
}

.add-products__filter-reset {
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add-products__filter-reset:hover {
    color: var(--blue-color);
}


/* INSERT BUTTON */
.add-products__insert {
    font-size: 1rem;
    padding: 0.3em 0.5em;
    border: 1px solid transparent;
    outline: none;
    background: var(--blue-color);
    color: white;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.add-products__insert:hover {
    background: white;
    border: 1px solid var(--blue-color);
    color: black;
}


/* BODY AND TABLE STYLE*/
.add-products__body {
    
}

.add-products__table-wrapper {
    height: 80vh;
    overflow: auto;
}


.add-products__table {
    width: 100%;
    border-collapse: collapse;
}

.add-products__table-th {
    background: var(--blue-color);
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    text-align: left;
    position: sticky;
    top: 0;
}

.add-products__table-th:first-child {
    border-top-left-radius: 10px;
}

.add-products__table-th:last-child {
    border-top-right-radius: 10px;
}

.add-products__table-tr:nth-child(even) {
    background: rgb(193, 223, 255);
}

.add-products__table-td {
    padding: 0.5rem 1rem;
    font-size: 0.95rem;
    font-weight: 500;
}

.add-products__icon-td {
    font-size: 1.4rem;
    margin-right: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add-products__icon-td:hover {
    transform: scale(1.1);
}


/*MEDIA QUERIES*/
@media screen and (min-width: 600px) and (max-width: 768px) {
    .add-products__input-field {
        width: 180px;
    }
}

@media screen and (max-width: 599px) {
    .add-products__input-field {
        width: 180px;
    }    
}
