.dashboard-weekly__body{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Define columns */
    gap: 1rem;
    margin-top: 1rem;
}

.graph-container {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
    padding: 0.5rem;
    border-radius: 5px; 
}

.graph-title {
    font-size: 1rem;
    text-align: center;
}


/* MEDIA QUERIES */
@media screen and (min-width: 769px) and (max-width: 999px) {

    .dashboard-weekly__body{
        grid-template-columns: repeat(2, 1fr); /* Define columns */
    }

}


@media screen and (min-width: 600px) and (max-width: 768px) {

    .dashboard-weekly__body{
        grid-template-columns: repeat(2, 1fr); /* Define columns */
    }

}


@media screen and (max-width: 599px) {
    .dashboard-weekly__body{
        grid-template-columns: repeat(1, 1fr);
    }

}