.dashboard-monthly__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 1.5rem;
    gap: 1rem;
}


.dashboard-monthly__chart-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}


.dashboard-monthly__chart-container {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    padding: 1rem;
    border-radius: 5px;
}

.dashboard-monthly__chart-container.monthy-sales-expenses {
    grid-row: 1/3;
}

.dashboard-monthly__chart-container.monthly-goods-sold {
    grid-row: 1/3;
}

.dashboard-monthly__chart-container.monthly-sales {
    grid-column: 1/3;
}

.dashboard-monthly__chart-container.monthly-expenses {
    grid-column: 2/5;
}