.product-list-modal__table-wrapper {
    max-width: 800px;
    overflow: auto;
}

.product-list-modal__table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.product-list-modal__table-th {
    background: var(--blue-color);
    padding: 0.5rem 1rem;
    color: white;
    font-size: 0.9rem;
    font-weight: 700;
    text-align: left;
    position: sticky;
    top: 0;
}

.product-list-modal__table-th:first-child {
    border-top-left-radius: 10px;
}

.product-list-modal__table-th:last-child {
    border-top-right-radius: 10px;
}

.product-list-modal__table-tr:nth-child(even) {
    background: rgb(193, 223, 255);
}

.product-list-modal__table-td {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-weight: 500;
}

/* MEDIA QUERIES */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
}


@media screen and (min-width: 1000px) and (max-width: 1199px) {
}


@media screen and (min-width: 769px) and (max-width: 999px) {
}



@media screen and (min-width: 600px) and (max-width: 768px) {
    .product-list-modal__table-wrapper {
        max-width: 500px;
        overflow: auto;
    }

    .product-list-modal__table-th {
        font-size: 0.9rem;
    }

    .product-list-modal__table-td {
        padding: 0.5rem 0.8rem;
    }
}




@media screen and (max-width: 599px) {
    .product-list-modal__table-wrapper {
        max-width: 250px;
        overflow: auto;
    }

    .product-list-modal__table-th {
        font-size: 0.9rem;
    }

    .product-list-modal__table-td {
        padding: 0.5rem 0.8rem;
    }
}
