.report-daily {
    height: 100%;
}

.report-daily__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr)); /* Define columns */
    gap: 1rem;
    margin-top: 1rem;
    height: 85%;
}

.graph-container {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
    padding: 0.5rem;
    border-radius: 5px;
    height: 100%;
}

.graph-title {
    font-size: 1rem;
    text-align: center;
}

.graph-filter-wrapper {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.graph-filter-input {
    width: 100%;
}

.report-icon-wrapper {
    height: 35px;
    width: 35px;
    background: var(--blue-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

.report-icon-wrapper:hover {
    border: 1px solid var(--blue-color);
    background: white;
    color: black;
}


/* MEDIA QUERIES */
@media screen and (min-width: 769px) and (max-width: 999px) {
    .report-daily__body {
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .report-daily__body {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}

@media screen and (max-width: 599px) {
    .report-daily__body {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

/* Media query for print */
@media print {
    body * {
        visibility: hidden; /* Hide everything */
      }

      .report-daily {
        visibility: visible; /* Show only the desired content */
        position: absolute; /* Position it at the top of the page */
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
  }