.sales {
    height: 100%;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* HEADER AND CONTROLS STYLE*/
.sales__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sales__left-controls-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.sales__input-field {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.3em 1em;
    width: 350px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    transition: all 0.2s ease;
}

.sales__input-field:focus {
    box-shadow: 0 0 0 3px rgb(152, 200, 255);
}


.sales__filter-wrapper {
    position: relative;
}

.sales__filter-icon {
    display: block;
    padding: 0.5rem 0.5rem;
    font-size: 1.2rem;
    color: white;
    background: var(--blue-color);
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sales__filter-icon:hover {
    color: black;
    border: 1px solid var(--blue-color);
    background: none;
}

/* FILTER DROPDOWN */
.sales__filter-dropdown {
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 100;
    background: white;
    padding: 1rem 1rem;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.sales__filter-dropdown-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sales__filter-label {
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: 600;
}

.sales__filter-field {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.3em 1em;
    width: 200px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.2s ease;
}

.sales__filter-field:focus {
    box-shadow: 0 0 0 3px rgb(152, 200, 255);
}

.sales__filter-dropdown-footer {
    margin-top: 20px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(0, 0, 0, 0.192);
}

.sales__filter-reset {
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sales__filter-reset:hover {
    color: var(--blue-color);
}

/* BODY AND TABLE STYLE*/
.sales__body {
    height: 83vh;
    overflow: auto;
}


.sales__table {
    width: 100%;
    border-collapse: collapse;
}

.sales__table-th {
    background: var(--blue-color);
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    text-align: left;
    position: sticky;
    top: 0;
}

.sales__table-th:first-child {
    border-top-left-radius: 10px;
}

.sales__table-th:last-child {
    border-top-right-radius: 10px;
}

.sales__table-tr:nth-child(even) {
    background: rgb(193, 223, 255);
}

.sales__table-td {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
}

.sales__icon-td {
    font-size: 1.4rem;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sales__icon-td:last-child {
    margin: 0;
}

.sales__icon-td:hover {
    transform: scale(1.1);
}


.sales__show-products-btn{
    margin: 2px;
    font-size: 1rem;
    padding: 0.5em 0.9em;
    background: var(--blue-color);
    border: 1px solid transparent;
    cursor: pointer;
    color: white;
    outline: none;
    border-radius: 5px;
    font-weight: 450;
    transition: all 0.3s ease;
}

/* MEDIA QUERIES */
@media screen and (max-width: 599px) {
    
    .sales__input-field {
        font-size: 0.9rem;
        width: 220px;
    }

    .sales__filter-icon {
        font-size: 0.9rem;
    }

    .sales__filter-label {
        font-size: 0.9rem;
    }

    .sales__filter-field {
        font-size: 0.9rem;
    }

    .sales__filter-reset {
        font-size: 0.9rem;
    }
    
    .sales__insert {
        font-size: 0.9rem;
        padding: 0.4em 0.5em;
    }

    .sales__body {
        height: 80vh;
        overflow: auto;
    }

    .sales__table-th {
        font-size: 0.9rem;
    }

    .sales__table-td {
        font-size: 0.9rem;
    }

    .sales__icon-td {
        font-size: 1.4rem;
        margin-bottom: 5px;
    }
}