.status-legend {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.status-legend__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

.status-legend__icon-description {
    font-size: 0.95rem;
    font-size: 700;
}

.out-of-stocks {
    font-size: 1.1rem;
    color: rgb(190, 7, 7);
}

.low-stocks {
    font-size: 1.1rem;
    color: rgb(240, 176, 0);
}

.high-stocks{
    font-size: 1.1rem;
    color: rgb(7, 255, 11);
}